@model WebApplication6.Models.PostCreateViewModel
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="wrapper-post">
    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "validation-massage" })
    @Html.TextBoxFor(m => m.Title, new { @class = "inp", @id = "title", @placeholder = "Введите заголовок" })

    <div class="post-content" id="tab-content">
    </div>
    <div class="add">
        <div class="add-container">
            <div class="add-text"> </div>
            <div class="add-img"><i class="fa fa-camera"></i></div>
        </div>
    </div>
    @Html.ValidationMessageFor(m => m.Tags, "", new { @class = "validation-massage" })
    @Html.TextBoxFor(m => m.Tags, new { @class = "inp", @id = "tags", @placeholder = "Введите несколько тегов через запятую" })

    @using (Html.BeginForm("Create", "Posts", FormMethod.Post, new { @id = "PostForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.PostType, new { @id = "PostType"})
        @Html.HiddenFor(m => m.PersonId, new { @id = "PersonId"})

        <input type="submit" id="submit" value="Добавить пост" />
    }
</div>
